@import url('reset.css');

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  font: 400 18px/21px 'Raleway' sans-serif;
  height: 100%;
  font-family: 'Raleway' sans-serif;
}

.container {
  max-width: 1540px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Titles */

h1,
.title1{
  font: 'Raleway' sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
}

h2,
.title2{
  font: 'Raleway' sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

h3,
.title3{
  font: 'Open Sans';
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

h4,
.title4{
  font: 'Open Sans';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5,
.title5{
  font: 'Raleway' sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

h6,
.title6{
  font: 'Open Sans';
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
}

/* button */

button {
  border: 2px #fff;
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 21px 0px;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font: 'Open Sans';
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  border: 2px solid #EC7979;
}

button:active {
  background: #AB4949;
  border: 2px solid #AB4949;
}

/* header */

.header{
  position: relative;
  background-color: #000;
}

.header__nav{
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 170px;
}

.header__logo{
  margin-top: 22px;
  margin-bottom: 22px;
  margin-left: -55px;
}
.header__logo__img{
  height: 31px;
  width: 85px;
}

.menu{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 570px;
}

.menu__item {
display: inline-block;
width: 113px;
}

.menu_link{
font: 'Open Sans';
font-size: 14px;
line-height: 75px;
font-weight: 600;
text-align: center;
color: #fff;
text-decoration: none;
}

/* main */

.main{
  background-color: #fff;
}

.welcome{
  padding: 0 170px; 
  background: url('/img/banner.jpeg');
  background-size: contain;
}

.welcome__logo__img{
  height: 55px;
  width: 165px;
  margin: 231px auto auto auto;
}

.welcome__h1{
  margin-top: 72px;
  max-width: 670px;
  max-height: 168px;
  color: #fff;
}

.welcome__h1__text{
  text-align: left;
}

.wecome__hr{
  height: 1px;
  width: 170px;
  margin: 55px 1170px 0px 0px;
}

.welcome__p{
  margin-top: 42px;
  max-height: 42px;
  max-width: 270px;
}

.welcome__p__text{
  font: 'Raleway' sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  }

.welcome__button{
  margin: 42px 900px 185px auto;
  border: 2px solid #ffffff;
  background-color: transparent
  }

.socmedia{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F8EFEF;
  margin-top: -84px;
  padding: 0 170px;
}

.socmedia__left{
height: 140px;
width: 470px;
}

.socmedia__p1{
  margin-top: 18px;
  text-align: left;
}

.socmedia__p2{
  text-align: left;
  margin-top: 18px;
  margin-bottom: 18px;
}

.socmedia__right{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 690px;
}

.socmedia__right{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 560px;
}

.socmedia__ul{
  display: flex;
  margin: 0 -5px;
  min-width: 55px;
}
.socmedia__img{
  height: 55px;
  width: 55px;
  flex: 1 1 auto;
  margin: 0 5px;
}