@import url('reset.css');

*{
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Raleway' sans-serif;
}

.container {
  max-width: 1510px;
  margin: 0 auto;
  padding-left: 170px;
  padding-right: 170px;
}

/* Titles */

h1,
.title1{
  font: 'Raleway' sans-serif;
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  color: #FFFFFF;
}

h2,
.title2{
  font: 'Raleway' sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  color: #FFFFFF;

}

h3,
.title3{
  font: 'Open Sans';
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #FFFFFF;

}

h4,
.title4{
  font: 'Open Sans';
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #FFFFFF;

}

h5,
.title5{
  font: 'Raleway' sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
}

h6,
.title6{
  font: 'Open Sans';
  font-size: 13px;
  line-height: 17px;
  font-weight: 700;
  color: #FFFFFF;

}

/* button */

button {
  border: 2px solid #fff;
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 21px 0px;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font: 'Open Sans';
  color: white;
  background-color: #EC7979;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

button:hover {
  background-color: #AB4949;
  border: 2px solid #EC7979;
}

button:active {
  background: #AB4949;
  border: 2px solid #AB4949;
}

/* header */

.header{
  position: relative;
  background-color: #000;
}

.header__nav{
  display: flex;
  align-items: center;
}

.header__logo{
  margin-left: -55px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.logo__img{
  width: 85px;
}

.menu{
  margin-left: 567px;
}

.menu__ul{
  display: inline-flex;
  flex-direction: row;
  align-items: center;

}
.menu__item {
width: 113px;
text-align: center;
}
.menu__link{
font: 'Open Sans';
font-size: 14px;
line-height: 75px;
font-weight: 600;
text-align: center;
color: #fff;
text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .container{
    padding-left: 115px;
    padding-right: 20px;
  }
  .header__logo{
    margin-left: 115px;
  }
  .menu{
    margin-left: 235px;
    background-color: #1a73a8;
  }
}


@media (max-width: 320px) and (orientation: portrait) {
  .container{
    padding-left: 20px;
    padding-right: 35px;
  }
  .header__logo{
    margin-left: 115px;
  }
  .header__logo{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo__img{
    height: 38px;
    width: 62px;
  }
  .menu{
    display: none;
  }
}

/* main */

.main{
  background-color: #fff;
}

/* welcome */

.welcome{
  background: linear-gradient(rgba(15, 16, 20, 0.8), rgba(15, 16, 20, 0.8)) 25% 25%, url('/img/banner.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
}

.welcomemain{
  display: inline-flex;
}

.welcomediv{

}
  
.welcome__logo{
  position: absolute;
  margin-top: 231px;
  width: 165px;
}

.welcome__img{
  width: 100%;
}

.welcome__title{
  margin-top: 357px;
  width: 670px;
}

.welcome__line{
  margin-top: 55px;
  width: 170px;
  border: 1px solid #FFFFFF;
}

.welcome__text{
  margin-top: 42px;
  width: 270px;
}

.button__main {
  margin-top: 42px;
  margin-bottom: 185px;
  background-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .container{
    padding-left: 115px;
    padding-right: 20px;
  }
  .header__logo{
    margin-left: 115px;
  }
  .menu{
    margin-left: 235px;
    background-color: #1a73a8;
  }
}


@media (max-width: 320px) and (orientation: portrait) {
  .container{
    padding-left: 20px;
    padding-right: 35px;
  }
  .header__logo{
    margin-left: 115px;
  }
  .header__logo{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo__img{
    height: 38px;
    width: 62px;
  }
  .menu{
    display: none;
  }
}


/* welcome form */

.formdiv{
  position: absolute;
  margin-left: 700px;
  margin-top: 208px;
  width: 470px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
}

.withoutbtn{
}

.form{
  padding: 0 50px;
  letter-spacing: 1px;
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
}

.form__input,
.form__button {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}


.form__title{
  font-family: sans-serif;
  text-align: center;
  padding: 29px;
  text-transform:uppercase;
  color: #000;
}

.title4__free{
  color: #EC7979;
  background-color: white;
}

.form__group{
  position: relative;
  margin-bottom: 32px;
}

.form__group:last-child{
margin-bottom: 75px;
}

.form__input{
width: 100%;
padding-bottom: 16px;
border: none;
border-bottom: 1px solid #e0e0e0;
background-color: transparent;
outline: none;
transition: 0.3s;
}

.form__input:focus{
  border-bottom: 1px solid #1a73a8;
}

.form__button{
  left: 0px;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.form__label{
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s;
  font: 'Raleway' sans-serif;
  color: #141313;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label
{
top: -18px;
font-size: 12px;
color: #e0e0e0;
}

/* socialmedia */

.socialmedia{
  background-color: #F8EFEF ;
}

.socialmedia__div{
  display: inline-flex;
  flex-direction: row;
}

.socialmedia__text{
  width: 470px;
}
.socialmedia__title{
  padding: 18px 0;
  color: #000;
}

.socialmedia__p{
  color: #000;
}

.socialmedia__icons{
width: 635px;
margin-left: 50px;
margin-top: 43px;
margin-bottom: 43px;
}

.socialmedia__ul{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.socmedia__img{
width: 55px;
height: 55px;
margin-right: 45px;
}

/* tabs */

.tab__body{
  position: relative;
  display: inline-flex;
  flex-direction: row;
  border: 1px solid #C6CBCD;
  z-index: 1;
}

.tabs__item{
  z-index: 2;
  position: relative;
  top: 1px;
  margin-top: 138px;
  display: inline-block;
  height: 40px;
  width: 190px;
  padding: 10px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: solid;
  border-width: 1px;
  border-color: #C6CBCD #C6CBCD #C6CBCD #C6CBCD ;
  border-radius: 5px 5px 0px 0px;
}

.tabs__item:nth-child(1){
  border-color: #C6CBCD;
}

.tabs__item:nth-child(1):target{
  border-color: #C6CBCD #C6CBCD #ffffff #C6CBCD;
}

.tabs__item:nth-child(2){
  border-color: #C6CBCD;
}

.tabs__item:nth-child(2):target{
  border-color: #C6CBCD #C6CBCD #ffffff #C6CBCD;
}

.tabs__item:nth-child(3){
  border-color: #C6CBCD;
}

.tabs__item:nth-child(3):target{
  border-color: #C6CBCD #C6CBCD #ffffff #C6CBCD;
}

.tab__main{
  position: relative;
  display: none;
}

.tab__main:target{
  display: block;
}

.tab__tabs{
  display: inline-flex;
  flex-direction: row;
}

.tab__text{
  display: inline-block;
  margin-left: 100px;
  width: 570px;
}

.tab__title{
  color: #000;
  padding: 27px 0px;
  text-align: left;
}

.tab__p{
  color: #000;
  margin-top: 27px;
  line-clamp: 10;
}

.button__tab{
  margin-top: 27px;
  margin-bottom: 54px;
}

.tab__img{
  margin-left: 30px;
  width: 470px;
}

.tab__pic{
  width: 100%;
  height: 100%;
}





/* awesome */

.awesome{
  margin-top: 50px;
}

.awesome-head{
  margin: 0 auto;
}
.awesome__title{
  color: #000;
  padding: 54px 0;
  text-align: center;
}

.awesome-line{
  border: 1px solid #EC7979;
  width: 170px;
  margin: 0 auto;
}

.awesome__text{
  color: #86878B;
  margin-top: 40px;
  text-align: center;
}

.awesome-list{
  margin-top: 110px;
  display: grid;
}

.colum__left{
  grid-column: 1;
  grid-row: 1;
}
.colum__center{
  grid-column: 2;
  grid-row: 1;
  margin: 0 30px;
}
.colum__right{
  grid-column: 3;
  grid-row: 1;
}

.awesome__colum{
  display: grid;
}

.colum__img{
  grid-column: 1;
  grid-row: 1;
  margin: 0 auto;
  height: 92px;
  width: 92px;
  border: #EC7979 solid 1px;
  border-radius: 50%;
}
.colum-img1{
  width: 65px;
  height: 65px;
  margin: 13px;
}

.colum-img2{
  width: 66px;
  height: 46px;
  margin: 23px 13px;
}

.colum-img3{
  width: 44px;
  height: 66px;
  margin: 13px 22px;
}

.colum__title{
  grid-column: 1; 
  grid-row: 2; 
  margin-top: 39px;
  padding: 34px 0;
}

.colum-title{
  text-align: center;
  color: #000;
}

.colum__text{
  margin-top: 8px;
  grid-column: 1; 
  grid-row: 3; 
}

.colum-text{
  text-align: center;
  color: #000;
}

/*pricing*/

.pricing{
  margin-top: 58px;
  background-color: #F5F5F5;
}

.pricing-head{
  margin: 0 auto;
  padding-top: 50px;
}
.pricing__title{
  color: #000;
  padding: 54px 0;
  text-align: center;
  text-transform: uppercase;
}

.pricing-line{
  border: 1px solid #EC7979;
  width: 170px;
  margin: 0 auto;
}

.pricing__text{
  color: #86878B;
  margin-top: 40px;
  text-align: center;
}

.pricing-list{
  margin-top: 79px;
  display: grid;
}

.pricing-column1{
  grid-column: 1; 
  grid-row: 1; 
}

.pricing-column2{
  grid-column: 2; 
  grid-row: 1; 
}

.pricing-column3{
  grid-column: 3; 
  grid-row: 1; 
}

.pricing-column{
  display: grid;
}

.tarif{
  grid-column: 1; 
  grid-row: 1; 
  background-color: #333333;
  border-bottom: 2px solid #F5F5F5;
  padding: 14px 0;
  text-align: center;
}

.price{
  grid-column: 1; 
  grid-row: 2; 
  background-color: #333333;
  border-bottom: 2px solid #F5F5F5;
  padding: 29px 0;
  text-align: center;
}

.terms{
  grid-column: 1; 
  grid-row: 3; 
  background-color: #333333;
  border-bottom: 2px solid #F5F5F5;
  padding: 14px 0;
  text-align: center;
}

.bonus{
  grid-column: 1; 
  grid-row: 4;
  margin-bottom: 50px;
}

.bous__ul{
  display: grid;
  width: 370px;
}

.bonus__li{
  background-color: #FFFFFF;
  border-bottom: 2px solid #F5F5F5;
  padding: 14px 0;
  text-align: center;
}

.bonus__li-p {
  color: #86878B;
}

.bonus__li:last-child{
  border-bottom: 0px;
}

.pricing-column2{
  position: relative;
  top: -20px;
  margin: 0 30px;
}

/* customers */

.customers{
  margin-top: 55px;
  background-color: #ffffff;
}

.customers-head{
  margin: 0 auto;
}
.customers__title{
  color: #000;
  padding: 54px 0;
  text-align: center;
  text-transform: uppercase;
}

.customers-line{
  border: 1px solid #EC7979;
  width: 170px;
  margin: 0 auto;
}

.customers__text{
  color: #86878B;
  margin-top: 40px;
  text-align: center;
}

.customers-list{
  margin-top: 79px;
  display: grid;
  grid-template-columns: 370px;
}

.customers-column1{
  grid-column: 1; 
  grid-row: 1;
}

.customers-column2{
  grid-column: 2; 
  grid-row: 1;
  margin: 0 30px;
}

.customers-column3{
  grid-column: 3; 
  grid-row: 1;
}

.customers-column{
  display: grid;
}

.customers__quote{
  grid-column: 1; 
  grid-row: 1;
  padding: 38px 5px;
  background: #E2E2E2;
  border-radius: 10px;
}

.—Åustomers-quote{
  color: #86878B;
  text-align: center;
}

.customers-info{
  grid-column: 1; 
  grid-row: 2;
}

.customers-person{
  display: grid;
  margin-top: 66px;
}

.person-photo{
  grid-column: 1; 
  grid-row: 1;
  width: 70px;
  height: 70px;
}

.person__img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.person-dates{
  grid-column: 2; 
  grid-row: 1;
}

.person{
  display: grid;
}

.person__name{
  grid-column: 1; 
  grid-row: 1;
}
.person__title{
  text-align: left;
  padding: 9px 0;
  color: #000;
}

.person__position{
  grid-column: 1; 
  grid-row: 2;
}
.person__text{
  text-align: left;
  padding: 9px 0;
  color: #000;
}


/* stylish */

.stylish{
  background: linear-gradient(rgba(15, 16, 20, 0.8), rgba(15, 16, 20, 0.8)) 25% 25%, url('/img/stylishbanner.jpeg');
  background-size:cover;
  background-repeat: no-repeat;
}


.stylish-head{
  margin: 0 auto;
  padding-top: 50px;
}

.stylish__title{
  padding: 54px 0;
  text-align: center;
  text-transform: uppercase;
}

.stylish-line{
  border: 1px solid #ffffff;
  width: 170px;
  margin: 0 auto;
}

.stylish__text{
  color: #fff;
  margin-top: 40px;
  text-align: center;
}

.button__stylish {
  text-align: center;
  margin: 73px 450px 50px 450px;
  background-color: transparent;
}

/* contact us*/

.contact{
  margin-top: 50px;
  background-color: #ffffff;
}
.contact-head{
  margin: 0 auto;
}
.contact__title{
  color: #000;
  padding: 54px 0;
  text-align: center;
  text-transform: uppercase;
}
.contact-line{
  border: 1px solid #EC7979;
  width: 170px;
  margin: 0 auto;
}
.contact__text{
  color: #86878B;
  margin-top: 40px;
  text-align: center;
}

.contact-form{
  margin-top: 90px;
}

.grid-form{
  display: grid;
  padding: 0 0px;
  grid-template: repeat(2, 40px) / repeat(2, 570px);
}

.form__grid1{
  grid-row: 1;
  grid-column: 1;
}

.form__grid2{
  grid-row: 2;
  grid-column: 1;
  margin-top: 50px;
}

.form__grid3{
  grid-row: 3;
  grid-column: 1;
  margin-top: 100px;
}

.form__grid4{
  grid-row: 1;
  grid-column: 2;
  margin-left: 30px;
}

.form__input-contact{
  padding-top: 181px;
}


.button__contact{
  margin: 0 400px;
  width: 370px;
  height: 58px;
}

/* footer */

.footer{
  margin-top: 50px;
  height: 200px;
  background-color: #000;
}

.footer-social{
  display: inline-block;
  padding-top: 42px;
  margin-left: 255px;
}

.footer-text{
margin-top: 32px;
margin-bottom: 27px;
}

.footer__title{
  text-align: center;
  color: #FFFFFF80 50%;
}

.footer__li{
  margin-right: 0px;
}