@import url('reset.css');

.text1{
  color: black;
  background-color: rgb(114, 0, 99);
  padding: 10px;
  margin: 30px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
  word-spacing: 10px;
  text-shadow: 1px 1px white;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 200;
  font-family: Lucida, 'Times New R55oman', Arial, serif;
}

.text1__normal{
  font-family: Arial, serif;
}