
.ulquality__img1{
    position: absolute;
    left: 22.98%;
    right: 74.67%;
    top: 19.48%;
    bottom: 79.74%;
}

.ulquality__h3a{
    font-size: 18px;
    font-family: Raleway;
    align: center;
}
.ulquality__p1{
    font-size: 24px;
    font-family: Raleway;
    align: center;
}

.ulquality__img2{
    position: absolute;
    left: 22.98%;
    right: 74.67%;
    top: 19.48%;
    bottom: 79.74%;
}

.ulquality__h3a{
    font-size: 18px;
    font-family: Raleway;
    align: center;
}
.ulquality__p1{
    font-size: 24px;
    font-family: Raleway;
    align: center;
}
