
.box1 {
    padding: 100px;
    margin: 50 0;
    /* 0-9a-f */
    color: #e370af;
    background-color: black;

}

* {
    margin: 10px;
}

.box3{
    margin: 100px;
    padding: 100px;
    background-color: red;
    color: blue;
}